
<div class="row">
    <h2>Registro de Visitas Anunciadas</h2>

    <div class="large- columns" >
        <fieldset>
            <legend>Seleccione el campus:</legend>
            
            @Html.DropDownList("Campus","Seleccione un campus")
        </fieldset>

    </div>

    
    <div class="large-12 columns">
    
        <fieldset>
            <legend>Tipo de Fechas:</legend>

            <input type="radio">Fecha Unica</input>
            <input type="radio">Múltiples Fechas</input>
       </fieldset>
</div>

</div>