

<div class="row">
    <h2>@ViewBag.ModuleTitle</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()   
        <div class="parte1">

        
            <div class="large- columns" >
                <fieldset>
                    <legend>Seleccione el campus:</legend>
            
                    @Html.DropDownList("Campus","Seleccione un campus")
                </fieldset>

            </div>    
            <div class="large-12 columns">
    
                <fieldset>
                    <legend>Tipo de Fechas:</legend>

                    <input class="fecha_unica" type="radio" name="tipo_fecha" value="Fecha Unica" checked="checked">
                    <label>Fecha Unica</label>
                    <input class="fecha_multi" type="radio" name="tipo_fecha" value="Múltiples Fechas">
                    <label>Múltiples Fechas</label>
               </fieldset>
            </div>

            <div class="large-6 columns">
                <fieldset>
                    <legend>Desde</legend>
                    <input id="Initial_Date" type="date"/>
                </fieldset>
            </div>
            <div class="large-6 columns">
                <fieldset>
                    <legend>Hasta</legend>
                    <input id="Final_Date" type="date" disabled="disabled"/>
                </fieldset>
            </div>

            <div class="large-12 columns">

                <fieldset>
                    <legend>Días</legend>
                    <input class="semana" type="checkbox" value="T"/>
                    <label>Todos los días</label>

                    <input class="dia" type="checkbox" value="L" />
                    <label>Lunes</label>
            
                    <input class="dia" type="checkbox" value="M" />
                    <label>Martes</label>
            
                    <input class="dia" type="checkbox" value="X" />
                    <label>Miércoles</label>
            
                    <input class="dia" type="checkbox" value="J" />
                    <label>Jueves</label>
            
                    <input class="dia" type="checkbox" value="V" />
                    <label>Viernes</label>
            
                    <input class="dia" type="checkbox" value="S" />
                    <label>Sábado</label>

                    <input class="dia" type="checkbox" value="D" />
                    <label>Domingo</label>
                </fieldset>

            </div>
            <div class="large-12 columns">
                <button class="next">Siguiente</button>
            </div>
        </div>
        <div class="parte2">
            <fieldset>
                <legend>Ingrese Nombre(s)</legend>
                <div class="large-8 columns">
                    <label>Nombre: </label>
                    <input type="text" />
                </div>
             
                <div class="large-3 columns">
                        <label>Tipo de entrada:</label>
                        <input type="radio" name="tipo_entrada" value="Vehicular" checked="checked">
                        <label>Vehicular</label>
                        <input type="radio" name="tipo_entrada" value="Peatonal">
                        <label>Peatonal</label>
                </div>
                <div class="large-1 columns">
                    <a class="button tiny"><i class="fi-plus"></i> Agregar</a>
                </div>
            </fieldset>
            <div class="large-12 columns">
                <fieldset>
                    <legend>Observaciones:</legend>
                    <textarea></textarea>
                </fieldset>
            </div>
            <div class="large-12 columns">
                <button class="back">Atrás</button>
                <input type="submit" value="Guardar" class="button"/>
            </div>
        </div>
        
    }
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/rva.js")
}