<!DOCTYPE html>
<html lang="en">
    <head><base href="http://localhost:19610/Home">
        <meta charset="utf-8" />
        <title>Entrar al sistema | SII</title>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/Content/foundation.min.css" rel="stylesheet"/>

        <link href="/Content/Layout.css" rel="stylesheet"/>

        <link href="/Content/foundation-icons/foundation-icons.css?v=-6_zzR_BwLqFqCPKpXxa56eDHYlTBHOUql5yYn8-ikw1" rel="stylesheet"/>

        <script src="/Scripts/modernizr-2.6.2.js"></script>

    </head>
    <body>
        <header>
            <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Inicio</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
        </ul>
    </section>
</nav>
        </header>
        <section id="body">
            <header>
                <div class="row">
    <div class="medium-10 small-9 columns text-center">
        <h1>Sistema Integral de Ingresos (<acronym title="Sistema Integral de Ingresos">SII</acronym>)</h1>
        <h2>Universidad Tecnológica Centroamericana</h2>
    </div>
    <div class="medium-2 small-3 columns">
        <img src="/Images/unitec-logo.png" alt="Unitec Logo" />
    </div>
</div>
<br />
<div class="row">
    <div class="text-center">
        <h3>Entrar al sistema</h3>
    </div>
</div>
            </header>
            
<div class="row">

    <section id="loginForm">
        
        <div class="row">
            <div class="small-8 small-offset-2 columns">
                <div class="panel">Ingrese su usuario y contraseña asignado para poder entrar al sistema</div>
<form action="/Account/Login?ReturnUrl=%2FHome%2FIndex" method="post"><input name="__RequestVerificationToken" type="hidden" value="PVJCbsOSOdsBVLV5NxkwdxJ5JUUfxI0yzet-1Ufl1IFlmsNRvsst9gUCJ0EF2L-EAItxWilr3__x92-yJ9HhjgUQDDWPiyeSvX5ONxRt8Ic1" />                    <fieldset>
                        <legend>Iniciar sesión</legend>

                        <div class="row">
                            <div class="small-2 columns">
                                <label class="right inline" for="UserName">Usuario</label>
                            </div>
                            <div class="small-10 columns">
                                <input data-val="true" data-val-required="The Usuario field is required." id="UserName" name="UserName" type="text" value="" />
                            </div>

                            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="row">
                            <div class="small-2 columns">
                                <label class="right inline" for="Password">Contrase&#241;a</label>
                            </div>
                            <div class="small-10 columns">
                                <input data-val="true" data-val-required="The Contraseña field is required." id="Password" name="Password" type="password" />
                            </div>
                            
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <div class="row">
                            <div class="small-2 small-offset-1">
                                <input type="submit" value="Entrar" class="button" />
                            </div>
                        </div>
                    </fieldset>
</form>            </div>
        </div>
    </section>

</div>
        </section>

        <script src="/Scripts/vendor/jquery.js"></script>

        <script src="/Scripts/vendor/jquery.cookie.js"></script>

        <script src="/Scripts/vendor/fastclick.js"></script>

        <script src="/Scripts/vendor/modernizr.js"></script>

        <script src="/Scripts/vendor/placeholder.js"></script>

        <script src="/Scripts/foundation.min.js"></script>

        <script src="/Scripts/Application.js"></script>
;
        
        <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

    
    </body>
</html>
